
body#default{
    background: -moz-linear-gradient(bottom, #F5FFFA 80%, #1455af);
    background: -webkit-gradient(linear, left top, left bottom, from(#1455af), to(#d5e9fc));
}

.container{
    background: transparent;
    border: 1px solid transparent;
}

#header{
    background: transparent;
}

#wrapper{
    background: white;
}

#taxonomies{
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 5px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top:1px;
}

ul.taxons-list li{
    list-style-type: disc;
    color: silver;
    width: 130px;
    line-height: 20px;
    font-size: 12px;
}

select#taxon{
    height: 25px;
    width: 160px;
}

input#keywords{
    width: 230px;
    height: 25px;
}

form input[type="submit"]{
    border: 1px solid #08556f;
    width: 70px;
    height: 26px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: -moz-linear-gradient(top, #316480 60%, #08556f); /*para o Firefox*/
    background: -webkit-gradient(top, #316480 60%, #08556f);
}


#taxonomies h6.taxonomy-root{
    color: #267f9c;
    font-size: 12px;
    border-style: solid;
    background: #eeebee;
    padding: 2px;
}

div#content{
    background: green;
    margin-top: 10px;
    padding: 10px;
    height: 1100px;
}

ul#products div.product-image{
    border-style: none;
}

a.info{
    font-size: 12px;
    color: #172f6c;
}

li#link-to-login a{
    color: #a1b6ff;
}

ul#main-nav-bar li#link-to-cart{
    background: -moz-linear-gradient(top, #316480 60%, #08556f);
    background: -webkit-gradient(top, #316480 60%, #08556f);
    background-image: none;
    padding-left: 20px;
    padding-top: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

ul#main-nav-bar li#home-link a{
    color: #a1b6ff;
}

ul#main-nav-bar li#link-to-cart a.empty{
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid silver;
    padding-top: 14px;
    padding-bottom: 7px;
    background: -moz-linear-gradient(top, #cccc00 40%, #ffff33);
    background: -webkit-gradient(top, #cccc00 40%, #ffff33);
    color: darkblue;
}

ul#main-nav-bar{
    background: -moz-linear-gradient(top, #337489 20%, #51c3cf);
    background: -webkit-gradient(top, #337489 20%, #51c3cf);
    width: 960px;
    border-bottom: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul#products li a.info{
    color: #172f6c;
    border-bottom: none;
    font-size: 12px;
}

div#footer-left p{
    color: red;
    background: yellow;
    border: 1px solid white;
    text-align: left;

}

ul#products li span.price {
    font-size: 12px;
    color: #172f6c;
}

form#sidebar_products_search {
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 5px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:1px;
}

div.navigation span.category{
    color: darkblue;
    font-size: 12px;
    background: #e1e1ff;
    border-style: none;
}

div#content #breadcrumbs ul.inline a{
    color: darkblue;
    font-size: 12px;
}

h3.taxon-title{
    color: darkblue;
    font-size: 12px;
}

div[data-hook="taxon_children"]  .taxon h5.subtaxon-title a{
    font-size: 12px;
    color: darkblue;
}

div#wrapper #content{
    background: white;
}

div[itemprop="description"]{
    font-size: 14px;
}


ul#footer-left li.taxon-title h5#home-link{
    background:white;
    border: 1px solid black;
}

body#product-details{
      background: -moz-linear-gradient(bottom, #F5FFFA 80%, #1455af);
      background: -webkit-gradient(linear, left top, left bottom, from(#1455af), to(#d5e9fc));
}

div#product-description h1.product-title{
    margin-left: 0px;
    background: #e1e1ff;
    border-style: none;
    font-size: 14px;
    color: #134f8d;
}

div#product-description{
    font-size: 12px;
    color: black;
}

#product-price h6.product-section-title{
    font-size: 14px;
    color: #134f8d;
}

#product-price span.price{
    font-size: 14px;
    color: #666666;
}

div[data-hook=product_taxons] ul#similar_items_by_taxon li a{
    color: #666666;
    font-size: 14px;
}

div#taxon-crumbs h6.product-section-title{
    font-size: 12px;
    color: #134f8d;
}

ul#similar_items_by_taxon li{
    font-size: 12px;
}

div[data-hook="product_properties"] h6.product-section-title{
    font-size: 12px;
    color: darkblue;
}

table#product-properties td{
    font-size: 12px;
}

div.add-to-cart button#add-to-cart-button{
    background: #1b5b9b;
    -moz-border-radius: 5px;
    border: 1px solid #1b5b9b;
    font-size: 12px;
    font-weight: bold;
    padding: 9px;
    vertical-align: top;
}

div.add-to-cart input{
    border: 1px solid #1b5b9b;
}

body#cart{
     background: -moz-linear-gradient(bottom, #F5FFFA 80%, #1455af);
    background: -webkit-gradient(linear, left top, left bottom, from(#1455af), to(#d5e9fc));
}

table#cart-detail th{
    font-size: 12px;
    color: darkblue;
}

div#content h1{
    margin-left: 30px;
    font-size: 20px;
    padding-bottom: 10px;
    color: #1a75cf;
    font-weight: bold;
}

td[data-hook="cart_item_description"] h4 a{
    color: #2c54a5;
    font-size: 14px;
}


table#cart-detail tr td[data-hook="cart_item_description"] td[data-hook="cart_item_price"]{
    font-size: 12px;
    color: darkblue;
    border: 1px solid black;
}

div[data-hook="inside_cart_form"]{
    border: 1px solid silver;
    font-size: 12px;
}

div[data-hook="inside_cart_form"] tbody#line_items tr{
    background: #f7faff;
    border: 1px solid #f7faff;
}

div[data-hook="inside_cart_form"] tbody#line_items tr.alt{
    background: #f7faff;
    border: 1px solid #f7faff;
    font-family: sans-serif;
    font-weight: bold;
}

input#order_line_items_attributes_0_quantity{
    border: 1px solid #0066ff;
}

input#order_line_items_attributes_1_quantity{
    border: 1px solid #0066ff;
}

button#update-button{
    background:#9999ff;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    border: 1px solid #9999ff;
    font-weight: bold;
    border-radius: 5px;
}

a#checkout-link{
    background: #134f8d;
    border-radius: 5px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #08556f;
}

p#clear_cart_link{
    padding-top: 10px;
    display: inline-block;
    background-color: transparent;
}


p#clear_cart_link a{
    background: #85c425;
    border-radius:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #85c425;
    font-size: 14px;

}

p#clear_cart_link input.button{
    background: #dbdbdb;
    border-radius: 5px;
    color:#666666;
    width: 160px;
    height: 40px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    font-weight: bold;
}


table#cart-detail tr[data-hook="cart_items_headers"]{
    background: #1a75cf;
    color: white;
}

table#cart-detail th{
    color: white;
}

table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"]{
    font-size: 14px;
    color: #0052d6;
}

table#cart-detail tbody#line_items tr td[data-hook="cart_item_description"]{
    font-size: 14px;
    color: #5188e6;
}

table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"]{
    font-size: 14px;
    color: #717171;
}

div#subtotal{
    display: inline-block;
    background: blue;
    text-align: right;
    margin-right: 0px;
    text-transform: uppercase;
}

div#subtotal h5{
    color: white;
    font-size: 14px;
}

div#product-variants h6.product-section-title{
    font-size: 14px;
    color: #134f8d;
}

div#product-variants ul{
    font-size: 14px;
}

span.price{
    font-size: 14px;
    color: #0099ff;
}

div#product-properties a{
    background: blue;
}

div#content h2{
    font-size: 16px;
    color: blue;
    border-bottom: 1px solid blue;
}

div#existing-customer{
    margin-top: 10px;
    border-right: 1px solid #99ccff;
}

div#existing-customer h6{
    font-size: 14px;
    color: #1360AB;
    padding-bottom: 10px;
    padding-top: 10px;
}

div#guest_checkout h6{
    font-size: 12px;
    color: #1360AB;
    padding-bottom: 10px;
    padding-top: 10px;
}

div#guest_checkout {
    margin-top: 10px;
    margin-left: 10px;
}

p input.button {
    margin-top: 20px;
    background: #1360AB;
    margin-bottom: 20px;
}

div#password-credentials p label{
    font-size:  14px;
}

div#password-credentials p input{
    margin-top: 5px;
    margin-bottom: 10px;
}

div[data-hook="login"]{
    font-size: 12px;
}

div.row h3.columns{
    font-size: 16px;
    color: darkblue;
}

fieldset#billing{
    border: none;
    border-right: 1px solid #99ccff;
}

div.inner{
    border: none;
    line-height: 32px;
}

fieldset#shipping{
    border: none;
    border-right: 1px solid #99ccff;
}

table [data-hook="order_summary"] {
    border: none;
}

div#checkout-summary{
    border: none;
}

ol#checkout-step-address{
    font-size: 14px;
}

div#errorExplanation{
    background-color: blue;
}

footer#footer{
    background: #e9f0ff;
    height: 260px;
    font-size: 12px;
    font-weight: bold;
}

footer#footer-head{
    background: #d9e6ff;
    height: 50px;
    width: 960px;

}

div#footer-left{
    color: black;
}

div#footer-right{
    margin-left: 150px;
    height: 200px;
    width: 220px;

}

div#search_bar_footer{
    background: -moz-linear-gradient(top, #337489 20%, #51c3cf);
    background: -webkit-gradient(top, #337489 20%, #51c3cf);
    text-align: center;
    padding: 9px;
    width: 940px;
}

ul#images_payment{
    margin-top: 5px;
    display: inline-block;
}

ul#images_payment li{
    float: left;
    margin-left: 6px;
}

head[data-hook="inside_head"]{
    background: yellow;
}

select#taxon-footer{
    width: 250px;
}

input#Keywords-footer{
    width: 550px;
}

div#footer-right ul#certification-images li{
    float: left;
    margin-left: 7px;
    margin-top: 2px;

}

ul#institucional_list{
    float: left;
    width: 150px;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 11px;
}

ul#institucional_list a{
    color: #0000b8;
}

ul#doubts_list{
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 11px;
}

ul#doubts_list a{
   color: #0000b8;
}

ul#sale_banners{
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    border-radius: 5px;
}

ul#sale_banners li{
    margin-top: 3px;
}

div#teste{
    border: 1px solid silver;
    background: silver;
}

div#text_payments_accepted{
    font-size: 12px;
    color: black;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

body#login{
   background: -moz-linear-gradient(bottom, #d5e9fc 80%, SteelBlue); /*para o Firefox*/
   background: -webkit-gradient(bottom, #d5e9fc 80%, SteelBlue);
}

body#signup{

    background: -webkit-gradient(bottom, #d5e9fc 80%, SteelBlue);
}

div#content div#errorExplanation{
    background: white;
    border: 1px solid silver;
    color: black;
}

div#content div#errorExplanation h2{
    background: white;
    border-bottom: 1px solid silver;
    color: blue;
}

div.containe figure#logo{
    margin-top: 25px;
 }
