div#sidebar{

}

div.container {
    width: 984px;
    margin: 0 auto;	
}

ul#nav-bar{
      
}

div#logo{
    background: red;
}

div#header{
    background: cadetblue;
    height: 160px;
}



div#logo{
    
}