
body#default{
    background: -moz-linear-gradient(top, #1455af 1%, #a9d4f4); /*para o Firefox*/
}

.container{
    background: transparent;
    border: 1px solid transparent;
}

#header{
    background: transparent;
}

#wrapper{
    background: white;
}

#taxonomies{
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 5px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top:1px;
}

ul.taxons-list li{
    list-style-type: disc;
    color: silver;
    width: 130px;
    border-bottom: 1px dotted silver;
    line-height: 20px;
    font-size: 12px;
}

select#taxon{
    height: 25px;
    width: 160px;
}

input#keywords{
    width: 230px;
    height: 25px;
}

form input[type="submit"]{
    border: 1px solid #08556f;
    width: 70px;
    height: 26px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: -moz-linear-gradient(top, #316480 60%, #08556f); /*para o Firefox*/
}


#taxonomies h6.taxonomy-root{
    color: #267f9c;
    font-size: 12px;
    background: #e1e1ff;
    border-style: none;
}

div#content{
    background: transparent;
    margin-top: 10px;
    padding: 10px;
}

ul#products div.product-image{
    border-style: none;
}

a.info{
    font-size: 12px;
    color: #172f6c;
}

li#link-to-login a{
    color: #a1b6ff;
}

ul#main-nav-bar li#link-to-cart{
    background-color: -moz-linear-gradient(top, #316480 60%, #08556f);
    padding-left: 20px;
    padding-top: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

ul#main-nav-bar li#home-link a{
    color: #a1b6ff;
}

ul#main-nav-bar li#link-to-cart a.empty{
    color: white;
    font-size: 12px;
    font-weight: bold;
}

ul#main-nav-bar{
    background: -moz-linear-gradient(top, #07389e 20%, #2587d7);
    width: 960px;
    border-bottom: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul#products li a.info{
    color: #172f6c;
    border-bottom: none;
    font-size: 12px;
}

footer#footer{
    background: -moz-linear-gradient(top, #07389e 20%, #2587d7);
    height: 100px;
}

ul#products li span.price {
    font-size: 12px;
    color: #172f6c;
}

form#sidebar_products_search {
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 5px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:1px;
}

div.navigation span.category{
    color: darkblue;
    font-size: 12px;
    background: #e1e1ff;
    border-style: none;
}

div#content #breadcrumbs ul.inline a{
    color: darkblue;
    font-size: 12px;
}
h3.taxon-title{
    color: darkblue;
    font-size: 12px;
}

div[data-hook="taxon_children"]  .taxon h5.subtaxon-title a{
    font-size: 12px;
    color: darkblue;
}

div#wrapper #content{
    background: white;
}

ul#footer-left li.taxon-title h5#home-link{
    background:white;
    border: 1px solid black;
}

body#product-details{
       background: -moz-linear-gradient(top, #1455af 1%, #a9d4f4); /*para o Firefox*/
}

div#product-description h1.product-title{
    background: #e1e1ff;
    border-style: none;
    font-size: 12px;
    color: darkblue;
}

div#product-description{
    font-size: 12px;
    color: black;
}

#product-price h6.product-section-title{
    font-size: 12px;
    color: darkblue;
}

#product-price span.price{
    font-size: 14px;
}

div#taxon-crumbs h6.product-section-title{
    font-size: 12px;
    color: darkblue;
}

ul#similar_items_by_taxon li{
    font-size: 12px;
}

div[data-hook="product_properties"] h6.product-section-title{
    font-size: 12px;
    color: darkblue;
}

table#product-properties td{
    font-size: 12px;
}

div.add-to-cart button#add-to-cart-button{
    background: #94ae3a;
    -moz-border-radius: 5px;
    border: 1px solid #94ae3a;
    font-size: 12px;
    font-weight: bold;
    padding: 9px;
}

body#cart{
     /*background: -moz-linear-gradient(top, #1455af 1%, #a9d4f4); /*para o Firefox*/;
     background: -moz-linear-gradient(bottom, #e6f4fd 50%, #052e97);
}

table#cart-detail th{
    font-size: 12px;
    color: darkblue;
}

div#content h1{
    font-size: 12px;
    color: darkblue;
}

td[data-hook="cart_item_description"] h4 a{
    font-size: 12px;
    color: darkblue;
}

td[data-hook="cart_item_description"]{
    font-size: 12px;
}

table#cart-detail tr td[data-hook="cart_item_description"] td[data-hook="cart_item_price"]{
    font-size: 12px;
    color: darkblue;
    border: 1px solid black;
}

button#update-button{
    background: #94ae3a;
    color: white;
    font-size: 12px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

a#checkout-link{
    background: blue;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid black;
}

p#clear_cart_link a{
    background: #94ae3a;
    border-radius: 5px;
    border: 1px solid #94ae3a;
}





