h3.taxonomy-root {
    font-weight: bold;
}

div#taxonomies{
       /*background: url("http://www.carrefour.com.br/images/menu-bg.gif?Lo0P=f7129430bf1d839a67d6c59aefd9ab7564") repeat-y scroll -3px 0 transparent;*/
        padding: 10px;
        padding-left: 20px;
        width: 175px;
}
